Source: ros-hydro-pr2-head-action
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-actionlib, ros-hydro-catkin, ros-hydro-geometry-msgs, ros-hydro-kdl-parser, ros-hydro-message-filters, ros-hydro-orocos-kdl, ros-hydro-pr2-controllers-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-tf, ros-hydro-tf-conversions, ros-hydro-trajectory-msgs
Homepage: http://ros.org/wiki/pr2_head_action
Standards-Version: 3.9.2

Package: ros-hydro-pr2-head-action
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-actionlib, ros-hydro-geometry-msgs, ros-hydro-kdl-parser, ros-hydro-message-filters, ros-hydro-orocos-kdl, ros-hydro-pr2-controllers-msgs, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-tf, ros-hydro-tf-conversions, ros-hydro-trajectory-msgs
Description: The PR2 head action is a node that provides an action interface for pointing the head of the PR2. It passes trajectory goals to the controller, and reports success when they have finished executing.
