Source: ros-hydro-ethercat-trigger-controllers
Section: misc
Priority: extra
Maintainer: Austin Hendrix <ahendrix@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), libltdl-dev, libtool, ros-hydro-catkin, ros-hydro-diagnostic-msgs, ros-hydro-message-generation, ros-hydro-pluginlib, ros-hydro-pr2-controller-interface, ros-hydro-realtime-tools, ros-hydro-roscpp, ros-hydro-std-msgs
Homepage: http://www.ros.org/wiki/ethercat_trigger_controllers
Standards-Version: 3.9.2

Package: ros-hydro-ethercat-trigger-controllers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libltdl-dev, libtool, ros-hydro-diagnostic-msgs, ros-hydro-message-runtime, ros-hydro-pluginlib, ros-hydro-pr2-controller-interface, ros-hydro-realtime-tools, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs
Description: Controllers to operate the digital output of the motor controller boards and the projector board. This package has not been reviewed and should be considered unstable.
