Source: ros-hydro-robot-mechanism-controllers
Section: misc
Priority: extra
Maintainer: "Austin Hendrix <ahendrix@willowgarage.com>"
Build-Depends: debhelper (>= 7.0.50~), libltdl-dev, libtool, ros-hydro-actionlib, ros-hydro-angles, ros-hydro-catkin, ros-hydro-control-msgs, ros-hydro-control-toolbox, ros-hydro-diagnostic-msgs, ros-hydro-eigen-conversions, ros-hydro-filters, ros-hydro-geometry-msgs, ros-hydro-kdl-parser, ros-hydro-message-filters, ros-hydro-pluginlib, ros-hydro-pr2-controller-interface, ros-hydro-pr2-controller-manager, ros-hydro-pr2-controllers-msgs, ros-hydro-pr2-mechanism-model, ros-hydro-realtime-tools, ros-hydro-roscpp, ros-hydro-std-msgs, ros-hydro-tf, ros-hydro-tf-conversions, ros-hydro-trajectory-msgs
Homepage: http://ros.org/wiki/robot_mechanism_controllers
Standards-Version: 3.9.2

Package: ros-hydro-robot-mechanism-controllers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libltdl-dev, libtool, ros-hydro-actionlib, ros-hydro-angles, ros-hydro-control-msgs, ros-hydro-control-toolbox, ros-hydro-diagnostic-msgs, ros-hydro-eigen-conversions, ros-hydro-filters, ros-hydro-geometry-msgs, ros-hydro-kdl-parser, ros-hydro-message-filters, ros-hydro-pluginlib, ros-hydro-pr2-controller-interface, ros-hydro-pr2-controller-manager, ros-hydro-pr2-controllers-msgs, ros-hydro-pr2-mechanism-model, ros-hydro-realtime-tools, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-tf, ros-hydro-tf-conversions, ros-hydro-trajectory-msgs
Description: Generic Mechanism Controller Library
